<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <style>
            body {
                background-color: rgb(94,115,255);
                font-family: Comic Sans MS;
            }
        </style>
    </head>

    <body>
        <h1>Kysymyspankki</h1>
        
        <img src="https://previews.123rf.com/images/ribah/ribah1504/ribah150400005/38903853-3d-darstellung-des-denkens-mann-der-mit-gro%C3%9Fen-fragezeichen-3d-rendering-von-menschlichen-personen-ze.jpg" alt="Tässä pitäisi näkyä kysymysmerkki" width="400"> 

        <h2 th:text="${teksti}">testi</h2>
        
        <ul>
            <li th:each="kurssi: ${kurssit}">
                <h2 th:text="'Kurssi: ' + ${kurssi.nimi}">aa</h2>
                <ul>
                    <li th:each="aihe: ${aiheet}" th:if="${aihe.kurssi == kurssi.nimi}">
                        <h3 th:text="'Aihe: ' + ${aihe.nimi}">aa</h3>
                        <ul>
                            <li th:each="kysymys: ${kysymykset}" th:if="${kysymys.kurssi == kurssi.nimi and kysymys.aihe == aihe.nimi}">
                                <a th:href="@{~/vastaus/{id}(id=${kysymys.id})}" th:text="${kysymys.kysymysteksti}">tekstiä</a>
                                <form th:action="@{~/poistakysymys/{id}(id=${kysymys.id})}" method="post">
                                    <input type="submit" value="Poista"/>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        
        <h2>Luo uusi kysymys</h2>
        <form method="POST" action="/sivu">
          <table>
            <tr>
              <td>
                Kurssi:
              </td>
              <td>
                  <input type="text" name="kurssi"/>
              </td>
            </tr>
            <tr>
              <td>
                Aihe:
              </td>
              <td>
                  <input type="text" name="aihe"/>
              </td>
            </tr>
            <tr>
              <td>
                Kysymysteksti:
              </td>
              <td>
                  <input type="text" name="kysymysteksti"/>
              </td>
            </tr>
          </table>

          <input type="submit" value="Luo"/>
        </form>
    </body>
</html>